자료구조와 조건문을 이용한 응용1
  - 투표시스템 만들기

In [1]:
# 후보자를 보여주고
# 유권자가 해당 후보자를 선택하면.
# 어느후보가 가장 많은 표를 얻었는지 확인하는 시스템

In [2]:
candidate = ['홍길동','이순신','유관순']
vote = [0,0,0]

In [3]:
print(" 다음 후보자 중에 한명에게 투표를 하세요 ")
print("기호 1번 : " + candidate[0], "/ 기호 2번 : " + candidate[1], " / 기호 3번 : " + candidate[2])
choice = input("1번부터 3번까지 해당 후보를 투표하세요 : ")
# 문자형태로 된 숫자이고 그 수자가 1,2,3일때만 정상적으로 로직을 수행
if(choice.isdigit()):
  choice = int(choice)
  if( (choice >= 1) & (choice  <= 3) ):
    vote[int(choice)-1] += 1
  else:
    print('1,2,3중에 하나를 입력하세요')
else:
  print('숫자를 입력하세요')

 다음 후보자 중에 한명에게 투표를 하세요
기호 1번 : 홍길동 / 기호 2번 : 이순신  / 기호 3번 : 유관순
1번부터 3번까지 해당 후보를 투표하세요 : 1

위의 예제를 dictionary로 변경해서 작성해 보자

In [4]:
candidate = ['홍길동','이순신','유관순']
vote_dic = {}

In [5]:
print("기호 1번 : " + candidate[0], "/ 기호 2번 : " + candidate[1], " / 기호 3번 : " + candidate[2])
# 입력한 번호를 키로 인식
# 1. 입력한 키가 dictionary에 있는지 확인하고
# if 키가 없으면
  # 키를 생성하면서 값은 1
# else
  # 해당키의 값을 1 증가

기호 1번 : 홍길동 / 기호 2번 : 이순신  / 기호 3번 : 유관순

In [6]:
print("기호 1번 : " + candidate[0], "/ 기호 2번 : " + candidate[1], " / 기호 3번 : " + candidate[2])
choice = input("1번부터 3번까지 해당 후보를 투표하세요 : ")
# 문자형태로 된 숫자이고 그 수자가 1,2,3일때만 정상적으로 로직을 수행
if(choice.isdigit()):
  choice = int(choice)
  if( (choice >= 1) & (choice  <= 3) ):
    if choice in vote_dic:
      vote_dic[choice] += 1
    else:
      vote_dic[choice] = 1
  else:
    print('1,2,3중에 하나를 입력하세요')
else:
  print('숫자를 입력하세요')

기호 1번 : 홍길동 / 기호 2번 : 이순신  / 기호 3번 : 유관순
1번부터 3번까지 해당 후보를 투표하세요 : 2

반복문 또는 순환문

정해진 횟수만큼 실행

In [7]:
count = 0
while count < 10:
  print(count) # 로직
  count += 1

0
1
2
3
4
5
6
7
8
9

조건을 만족할때 까지

In [9]:
count = 0
while count < 10:
  count = int(input('임의의 정수를 입력하세요 : '))
  print(count) # 로직

임의의 정수를 입력하세요 : 20
20

순환문을 강제로 탈출하기

In [10]:
count = 0
total = 0
# 1부터 더해서 1000을 넘는 순간은 어디까지 더해야하는 지 알아보자
while True:
  count += 1
  total += count
  if total > 1000:
    break

count, total

(45, 1035)

In [11]:
# 아파트 관리비 청구서
apt = "쌍용"
dong = 1005
ho = 501
price = 510000

# "자이아파트 105동 101호 관리비는 230000 입니다."
# print(str(apt)+'아파트 '+str(dong)+'동 '+str(ho)+'호'+' 관리비는 '+str(price)+' 입니다.')
print(f' {apt}아파트 {dong}동 {ho}호 관리비는 {price} 입니다.')

 쌍용아파트 1005동 501호 관리비는 510000 입니다.

구구단

In [12]:
# 2단 출력
print(f"{2} x {1} = {2*1}")
print(f"{2} x {2} = {2*2}")
print(f"{2} x {3} = {2*3}")
print(f"{2} x {4} = {2*4}")
print(f"{2} x {5} = {2*5}")
print(f"{2} x {6} = {2*6}")
print(f"{2} x {7} = {2*7}")
print(f"{2} x {8} = {2*8}")
print(f"{2} x {9} = {2*9}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [13]:
count = 1
while count < 10:
  print(f"{2} x {count} = {2*count}")
  count += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [14]:
i  = 2
while i < 10:
  j = 1
  while j < 10:
    print(f"{i} x {j} = {i*j}")
    j += 1
  i += 1
  print("-"*20)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------

순환문
  - while
    - 조건을 만족할때 까지
  - for
    - 지정한 횟수 -> 자료구조의 내용을 가지고 순환할때

In [15]:
candidate = ['홍길동','이순신','유관순']
print(candidate[0])
print(candidate[1])
print(candidate[2])

홍길동
이순신
유관순

In [16]:
count=0
while count < 3:
  print(candidate[count])
  count += 1

홍길동
이순신
유관순

In [20]:
temp = [1,4,5,1,5,7,4,1,4,7,4,125,4,81,5]
count=0
while count < len(temp):
  print(temp[count], end='\n')
  temp[count] = 0
  count += 1

1
4
5
1
5
7
4
1
4
7
4
125
4
81
5

In [18]:
temp

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [21]:
temp = [1,4,5,1,5,7,4,1,4,7,4,125,4,81,5]
count = 0
for i in temp:
  print(i, end='\n')
  i = 0
  count += 1

1
4
5
1
5
7
4
1
4
7
4
125
4
81
5

In [22]:
temp

[1, 4, 5, 1, 5, 7, 4, 1, 4, 7, 4, 125, 4, 81, 5]

In [23]:
temp = [10,20,30,40,50]
for index,i in enumerate(temp):
  if i == 30:
    temp[index] = 100

In [24]:
temp

[10, 20, 100, 40, 50]

In [25]:
list(enumerate(temp))

[(0, 10), (1, 20), (2, 100), (3, 40), (4, 50)]

In [26]:
index,i = (0, 10)

In [27]:
i

10

10번 또는 100번 처럼 지정한횟수만큼 순환문을 만들려면?

In [28]:
candidate = ['홍길동','이순신','유관순']
vote = [0,0,0]

for _ in range(5):
  print(" 다음 후보자 중에 한명에게 투표를 하세요 ")
  print("기호 1번 : " + candidate[0], "/ 기호 2번 : " + candidate[1], " / 기호 3번 : " + candidate[2])
  choice = input("1번부터 3번까지 해당 후보를 투표하세요 : ")
  # 문자형태로 된 숫자이고 그 수자가 1,2,3일때만 정상적으로 로직을 수행
  if(choice.isdigit()):
    choice = int(choice)
    if( (choice >= 1) & (choice  <= 3) ):
      vote[int(choice)-1] += 1
    else:
      print('1,2,3중에 하나를 입력하세요')
  else:
    print('숫자를 입력하세요')

print('투표현황',vote)

 다음 후보자 중에 한명에게 투표를 하세요
기호 1번 : 홍길동 / 기호 2번 : 이순신  / 기호 3번 : 유관순
1번부터 3번까지 해당 후보를 투표하세요 : 1
 다음 후보자 중에 한명에게 투표를 하세요
기호 1번 : 홍길동 / 기호 2번 : 이순신  / 기호 3번 : 유관순
1번부터 3번까지 해당 후보를 투표하세요 : 2
 다음 후보자 중에 한명에게 투표를 하세요
기호 1번 : 홍길동 / 기호 2번 : 이순신  / 기호 3번 : 유관순
1번부터 3번까지 해당 후보를 투표하세요 : 3
 다음 후보자 중에 한명에게 투표를 하세요
기호 1번 : 홍길동 / 기호 2번 : 이순신  / 기호 3번 : 유관순
1번부터 3번까지 해당 후보를 투표하세요 : 1
 다음 후보자 중에 한명에게 투표를 하세요
기호 1번 : 홍길동 / 기호 2번 : 이순신  / 기호 3번 : 유관순
1번부터 3번까지 해당 후보를 투표하세요 : 2
투표현황 [2, 2, 1]

숫자 맞추기 게임

In [ ]:
# 컴퓨터가 0과 100사이의 임의의 숫자를 선택하면 : 사용자는 모름
# 사용자한테 값을 입력받아서 맞추기
# 크다, 작다  사용자 값을 기준으로
# ex com = 80   me = 30  작다
# ex com = 80   me = 90  크다

In [29]:
from random import randint
com = randint(0,100)
while True:
  me = int(input("값을 입력하세요(0~100) : "))
  if com > me:
    print("정답보다 작다")
  elif com < me:
    print("정답보다 크다")
  else:
    print("정답입니다...")
    break

값을 입력하세요(0~100) : 49
정답보다 작다
값을 입력하세요(0~100) : 99
정답보다 크다
값을 입력하세요(0~100) : 75
정답보다 크다
값을 입력하세요(0~100) : 63
정답보다 작다
값을 입력하세요(0~100) : 70
정답보다 크다
값을 입력하세요(0~100) : 66
정답입니다...